header {
    margin-bottom: 20px;
}

* {
    font-family:Arial, Helvetica, sans-serif;
}

.main-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


main {
    margin-bottom: auto;
}

footer {
    background-color: rgb(240, 240, 240);
}

.footer-form input:invalid {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(218, 47, 47);
}

.fa-heart-o {
    cursor: pointer;
}
.fa-heart {
    cursor: pointer;
    color: red;
}

.splash {
    width: 100%;
    height: 100%;
    margin-bottom: 20px
}

#dropdownId {
    cursor: pointer;
}

.author {
    border-radius: 50%;
}

.slider {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    width: 1000px;
    height: 600px;
    border-radius: 10px;
  }
  
  .right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: rgb(236, 230, 230);
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: rgb(236, 230, 230);
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }